body,
html {
  margin: 0;
  user-select: none;
  font-family: 'Arial', sans-serif;
}

span {
  // font-size: 0.7vw;
}

.submit_success {
  z-index: 9999;
  position: fixed;
  top: 10%;

}

.map_content_container {
  display: flex;
  width: 100%;
  position: relative;
  // pointer-events: none;

  .map_nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    // pointer-events:painted;

  }

  .layout_container {
    display: none;
  }

  .layout_container.show {
    display: flex;
  }

  .pop {
    position: absolute;
    z-index: 1;

  }

  .pop.hide {
    display: none;
  }
}

.map_overolay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.map_overolay::before,
.map_overolay::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  background: linear-gradient(to right, rgb(6, 11, 24), rgba(0, 0, 0, 0));
  filter: blur(0);
}

.map_overolay::before {
  left: 0;
}

.map_overolay::after {
  right: 0;
  background: linear-gradient(to left, rgb(6, 11, 24), rgba(0, 0, 0, 0));
  /* 右侧渐变 */
}

.cesiumContainer {
  width: auto;
  height: 100vh;
}

.bottom_bar {
  // display: none;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 2vh;
  z-index: 2;
  text-align: center;
  background-color: #060c11;
  background-image: linear-gradient(-45deg, #060c11 0%, #194d95 100%);
}

.confine_title {
  display: flex;
  justify-content: space-between;
}

.cesium_button_container {
  z-index: 3;



  .airspace_button_wrap {
    animation: leftContainerShow 1s ease-out;
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 30%;
    justify-content: space-between;
    height: 30%;

  }

  .flight_button_wrap {
    animation: rightContainerShow 1s ease-out;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 30%;
    justify-content: space-between;
    height: 30%;
  }



  .drawmode_select {
    animation: leftContainerShow 1s ease-out;
    height: 100%;
    width: 100%;
    padding: 10px;
    /* 绿色边框 */
    border-radius: 5px;
    background-image: linear-gradient(-90deg, #074553 0%, #027b77c6 100%);
    /* 浅绿色背景 */
    color: #ffffff;
    /* 绿色文本 */
    font-size: 16px;
    appearance: none;
    /* 移除默认的下拉箭头 */
    -webkit-appearance: none;
    /* 移除默认的下拉箭头（Safari） */
    -moz-appearance: none;
    /* 移除默认的下拉箭头（Firefox） */
    position: relative;
    cursor: pointer;
  }

  .drawmode_select:focus {
    outline: none;
    border-color: #114d45;
    /* 聚焦时的绿色边框 */
  }

  .drawer_select_container {
    width: 200px;
    height: 50px;
    // margin: 0 auto;
  }

  .drawer_select_container::after {
    animation: leftContainerShow 2s ease;

    content: '▼';
    /* 自定义下拉箭头 */
    font-size: 12px;
    color: #ffffff;
    /* 绿色箭头 */
    position: absolute;
    right: 10px;
    top: 14px;
    pointer-events: none;
  }


  .cesium_button {
    // animation: leftContainerShow 1s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    background-image: linear-gradient(90deg, #074553 0%, #027b7700 100%);
    z-index: 3;
    width: 200px;
    height: 80px;
    // border: 1px solid #242b09;
    border-radius: 5px;
  }


  .cesium_button:hover {
    background-image: linear-gradient(90deg, #067d98 0%, #1ad2cc 100%);
  }
}

.drawer_wrap {
  display: none;
  position: relative;
  z-index: 1;
}

.drawer_wrap.show {
  display: block;
}

.clearButton {
  border: none;
  background-color: transparent;
  margin-right: 2rem;
  position: absolute;
  right: 0;
  background-image: url('../../asset/close.png');
  background-size: cover;
  /* 使背景图片覆盖整个伪元素 */
  background-position: center;
  /* 图片居中 */
  background-repeat: no-repeat;
  // cursor: pointer;
  /* 不重复背景图片 */
}

.coordinate {
  z-index: 2;
  color: white;
}





.uav_control_input {
  display: flex;
  // flex-direction: row;
}

input[type="checkbox"] {
  transform: scale(1.5);
  /* 增大单选框 */
}

.radio-text {
  font-size: 20px;
  /* 增大文本 */
}

input[type="radio"] {
  opacity: 0;
  /* 隐藏默认的单选框 */
  position: absolute;
  /* 把单选框的透明度设置为0，使它不可见，但仍然可以被选中 */
}

input[type="radio"]+.radio-text::before {
  content: '';
  display: inline-block;
  width: 24px;
  /* 单选框的宽度 */
  height: 24px;
  /* 单选框的高度 */
  border: 2px solid #000;
  /* 单选框的边框 */
  border-radius: 50%;
  /* 使其成为圆形 */
  background-color: #fff;
  /* 单选框的背景色 */
  margin-right: 10px;
  vertical-align: middle;
}

input[type="radio"]:checked+.radio-text::before {
  background-color: #117466;
  /* 选中时的背景色 */
  border-color: #0c313a;
  /* 选中时的边框色 */
}

.confine_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;

  .confine_title {
    color: rgba(233, 233, 233, 0.719);
    transform: translateX(-90px) translateY(-3px);
  }

  .input_time {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;

  }
}


.button_wrap {
  padding: 20px 40px 0 40px;
  display: flex;
  justify-content: center;
  justify-content: space-between
}